<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<p>
  <%= image_tag(@product.image_url, class: 'list_image') %>
</p>


<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Atrás', products_path %>
